<h1>This is the edit page you dummy</h1>

<p>Title:</p>
<%= @school_class.title %>
<br>
<p>Room Number:</p>
<%= @school_class.room_number %>

<%= form_for(@school_class) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :room_number %>
    <%= f.number_field :room_number %>
    <%= f.submit %>
<% end %>