<h1>SchoolClasses#edit</h1>
<p>Find me in app/views/school_classes/edit.html.erb</p>
<%= form_for @schoolclass do |f|%>
<%= f.label :title%>
<%= f.text_field :title%>
<%= f.label :room_number%>
<%= f.number_field :room_number%>
<%= submit_tag%>
<%end%>
